<style type="text/css">
    .formLayout
    {
        padding: 10px;
        width: 800px;
    }
    
    .formLayout label, .formLayout input
    {
        display: block;
        width: 300px;
        float: left;
        margin-bottom: 10px;
    }
 
    .formLayout label
    {
        text-align: right;
        padding-right: 20px;
    }
 
    br
    {
        clear: left;
    }
</style>
<div class="container top-padding-med" ng-init="getAllCategory()">
    <div class="well">
        <form method="post" name="form">
            <div class="formLayout">
                <label>Course Title</label>
                <input id="name" name="name" ng-model="course.title" required><br>
                <label>Course Catgory</label>
                <select ng-model="course.category" required ng-options="category._id as category.categoryName for category in allCategory">
                  <option value=""> -- choose Category -- </option>
                </select>
                <br>
                <label>Description</label>
                <textarea rows="10" cols="35" ng-model="course.description" required></textarea><br><br>
                <label>Video Link</label>
                <input id="Text1" name="name" size="150" width="30" ng-model="course.videolink" required><br>
                <label>Publish</label>
                <input type="checkbox" id="publish" name="publish" ng-model="course.publish" ><br>
                <label>Featured</label>
                <input type="checkbox" id="featured" name="featured" ng-model="course.featured" ><br>
                <label></label>
                <input type="submit" id="update" value="Update" name="edit" ng-click="updateCourse(form.$valid)"><br>
            </div>
        </form>
        <div my-youtube code="course.videolink"></div>
    </div>
</div>
